<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Site évaluation{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.6/dist/full.css" rel="stylesheet" type="text/css" />
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <nav class="items-end text-right font-bold mt-10">
            <a href="{{ path('app_general')}}" class="mr-5 btn bg-violet-900">Accueil</a>
            <a href="{{ path('liste_produits')}}" class="mr-5 btn bg-violet-900">Tout nos produits</a>
            <a href="{{ path('app_produit_index')}}" class="mr-5 btn bg-violet-900">Modifier produits</a>
            <a href="{{ path('app_commentaire_index')}}" class="mr-5 btn bg-violet-900">Afficher les commentaires</a>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>
